@import 'normalize.css';
@import '@fontsource/open-sans';
@import '@fontsource/open-sans/500.css';
@import '@fontsource/open-sans/600.css';
@import '@fontsource/open-sans/700.css';
@import '@fontsource/open-sans/800.css';
:root {
  --background-default: #0b121c;
  --text-primary: #e8e7f5;
  --text-secondary: #a2a1b1;
  --border-radius: 2px;
}

html {
  line-height: 1.25;
}

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  background-color: var(--background-default);
  color: var(--text-primary);
}
